# variables

set $mod Mod4

set $left Left
set $down Down
set $up Up
set $right Right

set $term alacritty

set $menu "rofi -combi-modi drun,window -show combi"

# inputs configuration

input type:touchpad {
    tap enabled
    natural_scroll enabled
}

input "type:keyboard" {
    xkb_layout us
    xkb_variant dvorak-alt-intl
    xkb_options caps:escape
}

input "type:pointer" {
    scroll_factor 3
}

# outputs configuration

output * bg ~/.wp.png center

output HDMI-A-1 mode 2560x1440 pos 0 0
output eDP-1 mode 1920x1200 pos 2560 300

# idle configuration

# exec swayidle -w timeout 900 'swaylock -f -c 000000'

# key bindings

bindsym $mod+Shift+Return exec $term
bindsym $mod+Shift+q kill
bindsym $mod+e exec $menu
bindsym $mod+u exec "rofi -modi emoji -show emoji"
bindsym $mod+p exec "bwmenu --auto-lock 25200"
bindsym $mod+Shift+r reload
bindsym $mod+Shift+e exec swaynag -t warning -m 'Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'
bindsym $mod+Shift+l exec swaylock -f -c 000000

# layout

workspace_layout stacking

bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

bindsym $mod+h splith
bindsym $mod+v splitv

bindsym $mod+s layout stacking
bindsym $mod+t layout tabbed
bindsym $mod+w layout toggle split

bindsym $mod+f fullscreen

bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle

bindsym $mod+a focus parent
bindsym $mod+o focus child

# workspaces

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 0

bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 0

workspace 1 output HDMI-A-1
workspace 2 output HDMI-A-1
workspace 3 output HDMI-A-1
workspace 4 output eDP-1

# swaymsg -t get_tree G class
assign [class="^(?i)firefox$"] 1
assign [class="^(?i)chromium"] 1
assign [app_id="^(?i)alacritty$"] 2
assign [class="^(?i)code$"] 3
assign [class="^(?i)thunderbird$"] 4
assign [class="^(?i)slack$"] 4
assign [class="^(?i)discord$"] 4
assign [class="^(?i)spotify$"] 9

for_window [class="Blueman-manager"] floating enable
for_window [app_id="pavucontrol"] floating enable
for_window [class="Seahorse"] floating enable
for_window [app_id="blueman-manager"] floating enable
for_window [class="Dconf-editor"] floating enable
for_window [class="D-feet"] floating enable
for_window [class="Org.gnome.Nautilus"] floating enable
for_window [class="zoom.real"] floating enable
for_window [class="zenity"] floating enable
for_window [class="Unity"] floating enable

# resize mode

mode "resize" {
    bindsym $left resize shrink width 50px
    bindsym $down resize grow height 50px
    bindsym $up resize shrink height 50px
    bindsym $right resize grow width 50px

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# status Bar

exec waybar > /tmp/waybar.log

# scratchpad

exec alacritty -t scratchpad
for_window [title="^scratchpad$"] move scratchpad

bindsym $mod+Return exec "swaymsg scratchpad show && move-scratchpad.sh"

# screenshot

bindsym Print exec 'grim -g "$(slurp)" -c - | wl-copy'

# function keys

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioNext exec playerctl next
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%

# theme

# default_border none
hide_edge_borders smart

font Source Code Pro bold 9

set $primary #FFCA0A
set $secondary #2B384F
set $grey #222222
set $light #333333
set $text #D2D5D9
set $muted #7E838B

# class                 border      background  text        indicator   child_border
client.focused          $secondary  $secondary  $text       $secondary  $secondary
client.focused_inactive $light      $light      $text       $light      $light
client.unfocused        $grey       $grey       $muted      $grey       $grey
client.urgent           $primary    $primary    $grey       $primary    $primary

# includes

include /etc/sway/config.d/*

# startup

exec systemctl --user import-environment DISPLAY SSH_AUTH_SOCK
exec systemctl --user start ssh-agent.service

exec alacritty -t 'ssh passphrase' -e zsh -c 'ssh-add -l >/dev/null && exit || ssh-add'
for_window [title="ssh passphrase"] floating enable; resize set width 480 height 120

exec wallpaper.sh

exec firefox
exec alacritty
exec code
exec thunderbird
exec slack

# dirty hack :o
exec "sleep 3; while swaymsg '[urgent=latest]' focus; do true; done; swaymsg workspace 2"
