@keyframes blink {
  0% {
    background-color: #ffca0a;
  }

  10% {
    background-color: inherit;
  }
}

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
  color: #d2d5d9;
  background-color: transparent;
}

window#waybar {
  background: rgba(34, 34, 34, 0.9);
}

window#waybar.bottom {
  border-top: 1px solid #333;
}

window#waybar.bottom > * {
  margin-top: 2px;
}

tooltip {
  background: rgba(34, 34, 34, 0.9);
  border: none;
}

#custom-weather,
#backlight,
#pulseaudio,
#network,
#battery,
#tray {
  margin-left: 20px;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  border-bottom: 2px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  border-bottom-color: #ffca0a;
}

#workspaces button.urgent {
  animation: blink 1s linear infinite;
}

#mode {
  background: #ffca0a;
  color: #2b384f;
  margin-left: 8px;
  padding: 0 8px;
}

#battery {
  font-family: Iosevka;
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray menu {
  background: rgba(34, 34, 34, 0.9);
}

#cpu,
#memory,
#disk {
  margin-right: 15px;
  color: #7e838b;
  font-size: 10px;
}

#custom-ip,
#network.local-ip,
#network.bandwidth {
  margin-left: 15px;
  color: #7e838b;
  font-size: 10px;
}
