[Unit]
Description=Gnome next meeting applet
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-next-meeting-applet

[Install]
WantedBy=sway-session.target
