[Unit]
Description=pcloud

[Service]
ExecStart=/usr/bin/pcloudcc -u $PCLOUD_EMAIL -m /home/nils/.pcloud/mountpoint

[Install]
WantedBy=default.target
