@define-color bg_bar rgba(0, 0, 0, 0.75);
@define-color bg_active rgba(255, 255, 255, 0.15);
@define-color bg_inverted rgba(255, 255, 255, 0.9);
@define-color bg_alert rgba(255, 48, 48, 0.9);

@define-color fg_bar rgba(255, 255, 255, 1);
@define-color fg_dim rgba(255, 255, 255, 0.6);
@define-color fg_inverted rgba(0, 0, 0, 1.0);
@define-color fg_warning rgba(255, 192, 0, 1);

@keyframes blink {
  100% {
    background-color: transparent;
  }
}

window,
tooltip {
  font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font Mono";
  font-size: 14px;
}

#waybar.top {
  background-color: @bg_bar;
  color: @fg_bar;
}

#mode,
#workspaces button,
#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#battery,
#tray,
#custom-power {
  padding: 0 4px;
  margin: 2px 0;
  border-radius: 4px;
}

#workspaces button {
  margin-left: 2px;
  margin-right: 2px;
  border: none;
}

#workspaces button {
  font-weight: 700;
}

#workspaces button.focused {
  background-color: @bg_active;
}

#workspaces button:not(.focused) {
  color: @fg_dim;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @fg_bar;
}

#workspaces button.urgent {
  background-color: @bg_inverted;
  animation: blink 850ms linear infinite;
  animation-timing-function: steps(24);
}

#mode {
  background: @bg_inverted;
  color: @fg_inverted;
}

#temperature.critical {
  color: @fg_warning;
}

#battery.warning:not(.charging) {
  color: @fg_warning;
}

#battery.critical:not(.charging) {
  background-color: @bg_alert;
  animation: blink 850ms linear infinite;
  animation-timing-function: steps(24);
}

#network.disconnected {
  opacity: 0.75;
}

#custom-power {
  margin-right: 2px;
}
