* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMonoNL, UbuntuMono;
  font-weight: 500;
  font-size: 14px;
  min-height: 0;
  color: #eceff4;
  background-color: transparent;
}

window#waybar {
  background: rgba(46, 52, 64, 0.9);
}

window#waybar.top > * {
  margin-right: 8px;
}

window#waybar.bottom {
  border-top: 1px solid #333;
}

window#waybar.bottom > * {
  margin: 2px 4px 0 4px;
}

tooltip {
  background: rgba(46, 52, 64, 0.9);
  border: 1px solid rgba(56, 62, 74, 0.9);
}

#custom-gnma {
  margin-right: 30px;
}

#custom-weather,
#backlight,
#pulseaudio,
#network,
#battery,
#tray,
#custom-power {
  margin-left: 20px;
}

#clock {
  margin: 0 60px;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  border-bottom: 2px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  border-bottom-color: #ffca0a;
}

#workspaces button.urgent {
  animation: urgent 1s linear infinite;
}

#mode {
  background: #ffca0a;
  color: #2b384f;
  margin-left: 8px;
  padding: 0 8px;
}

#window {
  margin-left: 8px;
  color: rgba(236, 239, 244, 0.5);
}

#battery.warning:not(.charging) {
  color: #ffca0a;
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  animation: blink 0.5s linear infinite reverse;
}

#tray menu {
  background: rgba(34, 34, 34, 0.9);
}

#cpu,
#temperature,
#memory,
#disk {
  margin-right: 15px;
  color: rgba(236, 239, 244, 0.6);
  font-size: 10px;
}

#custom-ip,
#network.local-ip,
#network.bandwidth {
  margin-left: 15px;
  color: rgba(236, 239, 244, 0.6);
  font-size: 10px;
}

#temperature.critical {
  background-color: #c73f3e;
  color: #fff;
}

@keyframes blink {
  0% {
    background-color: inherit;
  }
}

@keyframes urgent {
  0% {
    background-color: #ffca0a;
  }

  10% {
    background-color: inherit;
  }
}
