window {
  font-family: "JetBrainsMono Nerd Font Propo";
}

button {
  border: none;
  border-radius: 0;
  color: inherit;
}

button:hover {
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

@keyframes urgent {
  0% {
    background-color: #ffca0a;
  }

  10% {
    background-color: inherit;
  }
}

@keyframes blink {
  100% {
    background-color: transparent;
  }
}

/* top */

#waybar.top {
  background-color: rgba(0, 0, 0, 0.7);
  color: #eceff4;
  font-weight: 500;
  font-size: 14px;
}

#workspaces button {
  margin: 0 4px;
  padding: 0 4px;
}

#workspaces button.focused {
  box-shadow: inset 0px -3px #ffca0a;
}

#workspaces button.urgent {
  animation: urgent 1s linear infinite;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background: #ffca0a;
  color: #2b384f;
  padding: 0 8px;
}

#battery.warning:not(.charging) {
  color: #ffca0a;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation: blink 1s linear infinite;
  animation-timing-function: steps(24);
}

#network.disconnected {
  opacity: 0.75;
}

#tray {
  margin-right: 8px;
}

/* bottom */

#waybar.bottom {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid #333;
  font-size: 10px;
  color: #a3a5a8;
}

#waybar.bottom > * {
  margin-top: 2px;
}

#temperature.critical {
  background-color: #c73f3e;
  color: #fff;
}
