# variables

set $mod Mod4
set $term "terminator -e 'ssh-add -l > /dev/null 2>&1 || ssh-add; zsh'"
set $menu "rofi -combi-modi drun,window -show combi"

# basic key bindings

bindsym $mod+Shift+Return exec $term
bindsym $mod+Shift+q kill
bindsym $mod+e exec $menu
bindsym $mod+p exec bwmenu --auto-lock 7200
bindsym $mod+u exec rofi -show emoji -modi emoji
bindsym $mod+Shift+r reload
bindsym $mod+l exec i3lock -c 000000
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'Exit i3?' -B 'Yes' 'i3-msg exit'"

# focus key bindings

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# layout key bindings

bindsym $mod+h split h
bindsym $mod+v split v

bindsym $mod+k layout stacking
bindsym $mod+t layout tabbed
bindsym $mod+s layout toggle split

bindsym $mod+f fullscreen toggle
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent
bindsym $mod+o focus child

# layouts

workspace_layout stacking

for_window [class="Pavucontrol"] floating enable
for_window [class="Seahorse"] floating enable
for_window [class="Blueman-manager"] floating enable

# scratchpad

bindsym $mod+Return exec "i3-msg scratchpad show && move-scratchpad.sh"

#exec terminator --title scratchpad
#for_window [instance="scratchpad"] move scratchpad

# function keys

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioNext exec playerctl next
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%

# screenshot

bindsym Print exec gnome-screenshot /tmp/screenshot.png
bindsym Shift+Print exec gnome-screenshot -i

# resize

bindsym $mod+r mode "resize"

mode "resize" {
  bindsym Left resize shrink width 10 px or 10 ppt
  bindsym Down resize grow height 10 px or 10 ppt
  bindsym Up resize shrink height 10 px or 10 ppt
  bindsym Right resize grow width 10 px or 10 ppt

  bindsym Return mode "default"
  bindsym Escape mode "default"
}

# colors

client.focused #2C2C2C #2C2C2C #DDDDDD #2C2C2C #2C2C2C
client.focused_inactive #191919 #191919 #DDDDDD #191919 #191919
client.unfocused #191919 #191919 #666666 #191919 #191919
client.urgent #FFB52A #FFB52A #191919 #FFB52A #FFB52A

# borders

hide_edge_borders smart

# fonts

font pango:Source Code Pro bold 9

# status bar

bindsym $mod+shift+t exec polybar-config.sh --toggle top
bindsym $mod+shift+b exec polybar-config.sh --toggle bottom

# outputs

bindsym $mod+Shift+l exec "zsh -c 'source ~/.zshrc; laptop'"
bindsym $mod+Shift+m exec "zsh -c 'source ~/.zshrc; mirror'"
bindsym $mod+Shift+o exec "zsh -c 'source ~/.zshrc; oa'"
bindsym $mod+Shift+w exec "zsh -c 'source ~/.zshrc; work'"

set $w1 1:web
set $w2 2:sh$
set $w3 3:</>
set $w4 4:o<
set $w5 5
set $w6 6
set $w7 7
set $w8 8
set $w9 9
set $w0 10

set $display1 DP-1
set $display2 DP-2
set $display3 eDP-1

workspace $w1 output $display1
workspace $w2 output $display2
workspace $w3 output $display2
workspace $w4 output $display3

# workspaces

bindsym $mod+1 workspace $w1
bindsym $mod+2 workspace $w2
bindsym $mod+3 workspace $w3
bindsym $mod+4 workspace $w4
bindsym $mod+5 workspace $w5
bindsym $mod+6 workspace $w6
bindsym $mod+7 workspace $w7
bindsym $mod+8 workspace $w8
bindsym $mod+9 workspace $w9
bindsym $mod+0 workspace $w0

bindsym $mod+Shift+1 move container to workspace $w1
bindsym $mod+Shift+2 move container to workspace $w2
bindsym $mod+Shift+3 move container to workspace $w3
bindsym $mod+Shift+4 move container to workspace $w4
bindsym $mod+Shift+5 move container to workspace $w5
bindsym $mod+Shift+6 move container to workspace $w6
bindsym $mod+Shift+7 move container to workspace $w7
bindsym $mod+Shift+8 move container to workspace $w8
bindsym $mod+Shift+9 move container to workspace $w9
bindsym $mod+Shift+0 move container to workspace $w0

assign [class="^[Ff]irefox$"] $w1
assign [class="^[Cc]hromium$"] $w1
assign [class="^[Gg]oogle [Cc]hrome$"] $w1
assign [class="^[Tt]erminator$"] $w2
assign [class="^[Cc]ode(-oss)?$"] $w3
assign [class="^[Tt]hunderbird$"] $w4
assign [class="^[Ss]lack$"] $w4
assign [class="^[Dd]iscord$"] $w4
assign [class="^[Ss]potify$"] $w0

# misc

floating_modifier $mod
mouse_warping none

# startup

exec systemctl --user import-environment DISPLAY SSH_AUTH_SOCK
exec systemctl --user start ssh-agent.service

exec wallpaper.sh
exec polybar-config.sh

exec terminator -T scratchpad -e 'i3-msg "[title=scratchpad] focus"; i3-msg move scratchpad; clear; zsh'

exec firefox
exec $term
exec code
exec thunderbird-beta
exec slack
# exec discord

# dirty hack :o
exec "sleep 3; for i in $(seq 1 10); do i3-msg [urgent=latest] focus; done; i3-msg workspace $w2"
