# variables

set $mod Mod4
set $term terminator
set $menu "rofi -combi-modi drun,window -show combi"

# basic key bindings

bindsym $mod+Shift+Return exec $term
bindsym $mod+Shift+q kill
bindsym $mod+e exec $menu
bindsym $mod+Shift+r reload
bindsym $mod+l exec i3lock -c 000000
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

# focus key bindings

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# layout key bindings

bindsym $mod+h split h
bindsym $mod+v split v

bindsym $mod+k layout stacking
bindsym $mod+t layout tabbed
bindsym $mod+s layout toggle split

bindsym $mod+f fullscreen toggle
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent
bindsym $mod+o focus child

# scratchpad

bindsym $mod+Return exec i3-msg scratchpad show && scratchpad-move.sh

#exec --no-startup-id terminator --title scratchpad
#for_window [instance="scratchpad"] move scratchpad

# function keys

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioPlay exec spotifycli --playpause
bindsym XF86AudioPrev exec spotifycli --prev
bindsym XF86AudioNext exec spotifycli --next
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%

# screenshot

bindsym Print exec flameshot gui
bindsym Shift+Print exec flameshot full -c

# resize

bindsym $mod+r mode "resize"

mode "resize" {
  bindsym Left resize shrink width 10 px or 10 ppt
  bindsym Down resize grow height 10 px or 10 ppt
  bindsym Up resize shrink height 10 px or 10 ppt
  bindsym Right resize grow width 10 px or 10 ppt

  bindsym Return mode "default"
  bindsym Escape mode "default"
}

# status bar

bar {
  position top
  status_command SCRIPT_DIR=~/.config/i3blocks-blocklets i3blocks
  separator_symbol " | "

  font pango:Source Code Pro bold 9

  colors {
    statusline #ffffff
    background #232323
    focused_workspace #011e49 #0152C7 #ffd857
  }
}

# outputs

set $w1 1:web
set $w2 2:term
set $w3 3:dev
set $w4 4:slack
set $w5 5
set $w6 6
set $w7 7
set $w8 8
set $w9 9
set $w0 10

set $display1 DP-1
set $display2 DP-2
set $display3 eDP-1

workspace $w1 output DP-1
workspace $w2 output DP-2
workspace $w3 output DP-2
workspace $w4 output eDP-1

# workspaces

bindsym $mod+1 workspace $w1
bindsym $mod+2 workspace $w2
bindsym $mod+3 workspace $w3
bindsym $mod+4 workspace $w4
bindsym $mod+5 workspace $w5
bindsym $mod+6 workspace $w6
bindsym $mod+7 workspace $w7
bindsym $mod+8 workspace $w8
bindsym $mod+9 workspace $w9
bindsym $mod+0 workspace $w0

bindsym $mod+Shift+1 move container to workspace $w1
bindsym $mod+Shift+2 move container to workspace $w2
bindsym $mod+Shift+3 move container to workspace $w3
bindsym $mod+Shift+4 move container to workspace $w4
bindsym $mod+Shift+5 move container to workspace $w5
bindsym $mod+Shift+6 move container to workspace $w6
bindsym $mod+Shift+7 move container to workspace $w7
bindsym $mod+Shift+8 move container to workspace $w8
bindsym $mod+Shift+9 move container to workspace $w9
bindsym $mod+Shift+0 move container to workspace $w0

assign [class="^firefox$"] $w1
assign [class="^Chromium$"] $w1
assign [class="^Google Chrome$"] $w1
assign [class="^Terminator$"] $w2
assign [class="^Sublime_text$"] $w3
assign [class="^Slack$"] $w4
assign [class="^Spotify$"] $w0

# fonts

client.focused #011e49 #0152c7 #ffd857 #0152c7 #0152c7
font pango:Source Code Pro bold 9

# misc

floating_modifier $mod
mouse_warping none

# startup applications

exec terminator
exec firefox
