[mediaplayer]
command=$SCRIPT_DIR/mediaplayer
color=#ABCDEF
instance=spotify
interval=5
signal=10

[volume]
command=$SCRIPT_DIR/volume
color=#ABCDEF
label=♪
interval=once
signal=10

[public-ip]
command=$SCRIPT_DIR/ip
label=ip:
color=#ABCDEF
interval=30
markup=pango

[local-ip]
command=$SCRIPT_DIR/iface
label=lan:
color=#ABCDEF
interval=10
markup=pango

[battery2]
command=$SCRIPT_DIR/battery2
interval=10
markup=pango
color=#ABCDEF

#[disk-root]
#command=$SCRIPT_DIR/disk
#DEVICE=/dev/nvme0n1p2
#LABEL=root
#color=#ABCDEF
#interval=30

#[disk-home]
#command=$SCRIPT_DIR/disk
#DEVICE=/dev/nvme0n1p3
#LABEL=home
#color=#ABCDEF
#interval=30

[memory]
command=$SCRIPT_DIR/memory
color=#ABCDEF
label=mem:
interval=30

[load]
command=$SCRIPT_DIR/load_average3
color=#ABCDEF
interval=10
label=load:

[cpu]
command=$SCRIPT_DIR/cpu_usage
color=#ABCDEF
interval=10
label=cpu:

[time]
command=$SCRIPT_DIR/date
color=#ABCDEF
interval=1
