[Unit]
Description=google drive filesystem (gcsf)

[Service]
ExecStart=/usr/bin/gcsf mount "/home/nils/gdrive" -s 'nils@localhost'

[Install]
WantedBy=default.target
