[Unit]
Description=Change the current wallpaper

[Service]
Type=oneshot
ExecStart=%h/.config/sway/scripts/change-wallpaper.sh

[Install]
WantedBy=sway-session.target
