[Unit]
Description=Waybar
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID

[Install]
WantedBy=sway-session.target
