[global_config]
  inactive_color_offset = 0.7
[keybindings]
  broadcast_all = None
  broadcast_group = None
  broadcast_off = None
  close_term = None
  close_window = None
  cycle_next = None
  cycle_prev = None
  edit_tab_title = None
  edit_terminal_title = None
  edit_window_title = None
  go_next = None
  go_prev = None
  group_all = None
  group_tab = None
  hide_window = None
  insert_number = None
  insert_padded = None
  layout_launcher = None
  move_tab_left = <Primary><Shift>Page_Up
  move_tab_right = <Primary><Shift>Page_Down
  new_terminator = None
  new_window = <Primary><Shift>n
  next_tab = <Primary>Page_Down
  prev_tab = <Primary>Page_Up
  reset = None
  reset_clear = None
  rotate_ccw = None
  rotate_cw = None
  scaled_zoom = None
  search = None
  split_horiz = <Alt>h
  split_vert = <Alt>v
  toggle_scrollbar = None
  toggle_zoom = <Alt>Return
  ungroup_all = None
  ungroup_tab = None
  zoom_in = <Primary><Alt>Up
  zoom_normal = <Primary><Alt>Return
  zoom_out = <Primary><Alt>Down
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#20242c"
    cursor_blink = False
    cursor_color = "#aaaaaa"
    cursor_shape = ibeam
    font = Source Code Pro 10
    foreground_color = "#c0c2c5"
    icon_bell = False
    palette = "#555753:#bf616a:#a3be8c:#ebcb8b:#5e81ac:#b48ead:#88c0d0:#c0c2c5:#4c566a:#bf616a:#a3be8c:#d08770:#77abe7:#caa6ec:#8fbcbb:#96999f"
    scrollback_infinite = True
    show_titlebar = False
    use_system_font = False
