#window {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

#outer-box {
  padding: 8px;
}

#input {
  background-color: transparent;
  margin-bottom: 16px;
}

#entry {
  color: rgba(255, 255, 255, 0.75);
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.95);
  outline: none;
  border-radius: 4px;
}
